/* @theme keinsleif */

@import 'gaia';

section thead > tr:not(tr:has(th:not(th:empty))) {
    display: none;
}

section thead th {
    border-color: #DDD;
}

section div.h1 {
    font-size: 1.8em;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}